[phases.setup]
nixPkgs = ["nodejs-18_x", "npm-9_x"]

[phases.install]
cmds = [
  "npm ci --prefer-offline --no-audit --progress=false"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "node .output/server/index.mjs"

[variables]
NODE_ENV = "production"
NITRO_PRESET = "node-server"