[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install --production=false"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "node .output/server/index.mjs"

[variables]
NODE_ENV = "production"
NITRO_PRESET = "node-server"
PORT = "3000"
